<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/defaultLayout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>사용자 프로젝트 조회</title>
</head>
<div id="wrap" class="main">
    <th:block th:replace="layout/fragments/commonHeader"></th:block>
</div>
<body>
    <th:block layout:fragment="content">
        <script>
            function fn_formAction(action, oid) {
                $("#oid").val(oid);
                $("#projectForm").attr("action", "/project/" + action + ".do");
                $("#projectForm").submit();
            }
        </script>fn_formAction
        <div style="width:1350px;margin:0 auto;text-align:center;padding:30px;font-size:20px;">
            <form id="projectForm" name="projectForm" method="POST">
                <input type="hidden" id="oid" name="oid" />
                <sec:csrfInput />
            </form>
        </span>
            <br/><br/>
            <div style="float:left;">
                <!--<p>총 건</p>-->
                <p th:text="'총 ' + ${#lists.size(result)} + ' 건'"/>
            </div>
        </div>

        <!-- container -->
        <div id="container" style="width:1380px;margin:0 auto;">
            <div>
                <table style="border-top:1px solid #dedede">
                    <colgroup>
                        <col width="344px" />
                        <col width="344px" />
                        <col width="344px" />
                        <col width="344px" />
                    </colgroup>
                    <tbody>
                        <tr style="background-color:rgba(28, 148, 196, 1);border-top:1px solid #dedede;font-size:18px;">
                            <th style="text-align:center;border-left:1px solid #dedede;">Name</th>
                            <th style="text-align:center;border-left:1px solid #dedede;">Sub Projects</th>
                            <th style="text-align:center;border-left:1px solid #dedede;">Revisions</th>
                            <th style="text-align:center;border-left:1px solid #dedede;border-right:1px solid #dedede;">Actions</th>
                        </tr>
                        <tr th:each="sproject : ${result}">
                            <td style="padding:9px 10px 8px 10px;border-bottom:1px solid #dedede;border-left:1px solid #dedede;">
                                <a th:href="|javascript:fn_formAction('projectDetailView','${sproject.oid}')|" th:text="${sproject.name}"/>
                                <!--<a th:href="@{/serviceInterface/userDetail.do(oid=${suser.oid})}" th:text="${suser.username}"></a>-->
                            </td>
                            <td style="padding:9px 10px 8px 10px;border-bottom:1px solid #dedede;border-left:1px solid #dedede;" th:text="${#lists.size(sproject.subProjects)}"/>
                            <td style="padding:9px 10px 8px 10px;border-bottom:1px solid #dedede;border-left:1px solid #dedede;" th:text="${#lists.size(sproject.revisions)}"/>
                            <td style="padding:9px 10px 8px 10px;border-bottom:1px solid #dedede;border-left:1px solid #dedede;border-right:1px solid #dedede;text-align:center;" th:text="버튼"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<%@ include file="/WEB-INF/jsp/web/cmm/paging.jsp"%>-->
        </div>
    </th:block>

    <th:block layout:fragment="pageCustomScript">
        <script th:src="@{/assets/vendor/jquery/jquery.js}"></script>
    </th:block>
    <th:block layout:fragment="pageCustomCss">
        <script th:src="@{/assets/vendor/jquery/jquery.css}"></script>
    </th:block>
</body>
</html>