<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--    <div sec:authorize="isAuthenticated()">
        HasRole(ADMIN): <span sec:authorize="hasRole('ADMIN')">YES</span>
    </div>-->
    <head>
        <th:block th:replace="layout/fragments/commonHead"></th:block>
        <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE"></title>
    </head>
    <body>
        <div id="wrap" class="main">
            <th:block th:replace="layout/fragments/commonHeader"></th:block>
        </div>
    <!-- page content body 구성 -->
        <th:block layout:fragment="content"></th:block>
    <!-- 공통 footer -->
        <footer th:replace="layout/fragments/commonFooter :: commonFooter"></footer>
    </body>
</html>