<html xmlns:th="http://www.thymeleaf.org">
    <div id="header">
        <h1><a href="/"><img src="/images/logo.png" alt="bim"></a></h1>
        <a href="#" id="btnHeaderMenu" class="btnHeaderMenu">좌측메뉴 열기</a>
        <div id="headerMenu">
            <div class="menu_home"><a href="/"><img src="/images/logo.png" alt="i-Monitor"></a></div>
            <ul>
                <li class="menu_site"><a href="/project/serviceInterface/getUsersProjects.do">Project - Show projects</a></li>
                <li class="menu_server"><a href="/keyword/keywordModify.do">User Settings</a></li>
                <li class="menu_user"><a href="/server/serviceInterface/getAllUsers.do">Server - List Users</a></li>
                <li class="menu_user"><a href="/openapi/cntrctInfo/cntrctInfoListThng.do">계약현황</a></li>
            </ul>
            <a href="#" id="btnHeaderMenuClose" class="btnHeaderMenuClose">좌측메뉴 닫기</a>
        </div>
        <form name="logout" action="/logout" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <input type="submit" class="btnLogout" value="로그아웃" />
        </form>
    </div>
</html>