<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>회원가입</title>

    <!-- Custom fonts for this template-->
    <link href="/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
<!--                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">비밀번호를 잊어 버렸습니까?</h1>
                                    <p class="mb-4">아래에 username(이메일) 을 입력하면 비밀번호를 재설정 할 수 있는 주소를 이메일로 받을 수 있습니다.</p>
                                </div>-->
                                <form id="addUser" class="user" method="POST" th:action="@{/user/add.do}">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" name="username" placeholder="username(이메일)을 입력하세요">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" name="name" placeholder="name을 입력하세요">
                                    </div>
                                    <div class="form-group">
                                        <select name=sUserType"" class="custom-select custom-select-sm form-control form-control-sm" placeholder="sUserType을 선택하세요">
                                            <option th:each="sType : ${T(org.bimserver.interfaces.objects.SUserType).values()}"
                                                    th:value="${sType}" th:text="${sType}"></option>
                                        </select>
                                        <input type="email" class="form-control form-control-user" name="username" placeholder="username(이메일)을 입력하세요">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" name="username" placeholder="username(이메일)을 입력하세요">
                                    </div>
                                    <a href="#" onclick="document.getElementById('passwordReset').submit();" class="btn btn-primary btn-user btn-block">
                                        비밀번호 초기화
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/bootstrap/js/sb-admin-2.min.js"></script>

<script>

</script>
</body>

</html>
