<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="layout/fragments/commonHead"></th:block>
    </head>
    <body>
        <div id="wrap">
            <div id="container" class="login">
                <div id="loginForm">
                    <h2><a href="index.html"><img src="/images/logo.png" alt="bim"></a></h2>
                    <form name="flogin" id="flogin" method="POST" action="/login/loginAction.do">
                        <fieldset>
                            <div id="loginFormBox">
                                <input type="text" 		name="email" 	id="email" 	  placeholder="아이디(이메일주소)">
                                <input type="password" 	name="password" id="password" placeholder="비밀번호" onkeypress="if(event.keyCode==13)document.getElementById('flogin').submit();">
                                <sec:csrfInput />
                                <input type="button" value="로그인" onclick="document.getElementById('flogin').submit();" style="background-color:#1a1a1a;"><input type="button" value="회원가입" onclick="location.href='/join/registMember.do'">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>